*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility */

.float-right {
  float: right;
}
.float-left {
  float: left;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.br-r-l {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.br-r {
  border-right: 1px solid white;
}

/* /Utility */

body {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  margin: 0;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
  min-width:1400px;
}

/* Header */
.container-hb {
  width: 100%;
  height: 90px;
  background-color: #F4F9FD;
  margin: auto;
  border-bottom: 2px solid #32495B;
  position:fixed;
  top:0;
  z-index:100;
}
.container-h {
  width: 70%;
  height: 80px;
  margin: auto;
  position: relative;
}
  /* Navbar-top */

.top-navbar:after {
  content: "";
  display: table;
  clear: both;
}
.top-navbar {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.left-top-nav {
  width: 50%;
  height: 100%;
  text-align: left;
  display: inline-block;
}
.right-top-nav {
  width: 50%;
  height: 80px;
  text-align: right;
  margin-top: 20px;
  display: inline-block;
}
.left-top-nav a {
  text-decoration: none;
  color: #32495B;
}
.right-nav-top a {
  text-decoration: none;
  color: #32495B;
  padding: 3px;
}
.right-nav-top a:nth-child(1) {
  margin-right: 10px;
  color: #09A7BE;

}
.right-nav-top a:nth-child(2) {
  border: 1px solid red;
  border-radius: 5px;
  color: #FE775A;
  padding: 8px;
  margin-right: 10px;
}
.right-nav-top a:nth-child(3) {
  border: 1px solid #FE775A;
  border-radius: 5px;
  background-color: #FE775A;
  padding: 8px;
  color: white;
}
/* Navbar-top */

/* navbar */

.container-nb {
  width: 100%;
  height: 180px;
  background-color: white;
  margin: auto;
}
.container-n {
  width: 70%;
  height: 180px;
  margin: auto;
  position: relative;
}
  /* Navbar */

.nav-bar:after {
  content: "";
  display: table;
  clear: both;
}
.nav-navbar {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
}

.left-nav {
  width: 40%;
  height: 100%;
  text-align: left;
  display: inline-block;
}
.right-nav {
  width: 60%;
  height: 80px;
  text-align: right;
  margin-top: 120px;
  display: inline-block;
  overflow: hidden;
}
.left-nav img {
  text-decoration: none;
  color: #32495B;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
}
.right-nav a {
  text-decoration: none;
  color: #32495B;
  padding: 10px;
  font-size: 20px;
}

/* NavBar */

/* Img-hero-text */
.container-imgbr:after {
  content: "";
  display: table;
  clear: both;
}
.container-imgb {
  width: 100%;
  height: 690px;
  background-color: #FFF4EF;
  margin: auto;
  color: #32495B;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
}
.container-img {
  width: 70%;
  height: 800px;
  margin: auto;
}
.text-hero {
  max-width: 500px;
  height: auto;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
}
.text-hero h1 {
  font-size: 3.5em;
  font-weight: 600;
  margin-bottom: 40px;
}
.text-hero p:nth-child(2) {
  font-size: 18px;
  margin-bottom: 60px;
  line-height: 30px;
}
.text-hero a {
  border: 1px solid #FE775A;
  background-color: #FE775A;
  padding: 20px 40px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.text-hero p:nth-child(4) {
  font-size: 15px;
  margin-top: 60px;
}
.text-hero hr {
  margin-top: 10px;
}

/* middle line */

.middle-line {
  width: 100vw;
  height: 85px;
  background-color: #AFEBE4;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top: 4px solid #33475B;
  border-bottom: 4px solid #33475B;
  overflow: hidden;
}
/* /middle line */

/* Main */
/* Top main */
.container-mt {
  width: 100%;
  height: 1800px;
  background-color: #F4F9FD;
  color: #32495B;
}
.container-img-h {
  width: 70%;
  height: 800px;
  margin: auto;
}

.first-para-main {
  width: 100%;
  line-height: 1.8em;
}
.first-para-main  {
  text-align: center;
  padding: 100px;
}
.first-para-main h1 {
  margin-bottom: 20px;
}
.first-para-main h1 {
  line-height: 2em;
}

.white-first-row{
  width: 100%;
  height: 400px;
  background-color: white;
  border: 3px solid #EBF0F4;
  border-radius: 5px;
  position: relative;
}
.first-col-img {
  width: 40%;
  height: 100%;
  position: relative;
}
.first-col-img img {
  position: absolute;
  top: 15%;
  left: 15%;
}
.first-col-img a {
  border: 1px solid #FE775A;
  background-color: #FE775A;
  padding: 20px 40px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 60%;
  left: 15%;
}

.second-col-img {
  width: 60%;
  height: 100%;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 30%;
  line-height: 2em;
}
.second-col-img h2:nth-child(1) {
  padding-bottom: 20px;
}
.second-col-img p:nth-child(2) {
  padding-bottom: 30px;
  font-size: 18px;
}
.second-col-img hr {
  display: inline-block;
  width: 50%;
  margin: 10px;
}
.second-col-img.float-left > h2:nth-child(2) {
  width: 40%;
}
.second-col-img i {
  color:  #FE775A;
  padding-top: 30px;
  padding-right: 30px;
}
.second-col-img span {
  padding-right: 30px;
}

.col-3 {
  width: 30%;
  height: 750px;
  background-color: white;
  border: 3px solid #EBF0F4;
  border-radius: 5px;
  margin-top: 3%;
  line-height: 2em;
  position: relative;
}
.middle-col {
  margin-left: 5%;
  margin-right: 5%;
}
.col-3-top {
  width: 70%;
  height: 100%;
  position: absolute;
  left:  50%;
  transform: translateX(-50%);
  text-align: center;
}
.col-3-top img {
  margin-bottom: 20px;
  max-height: 100px;
}
.col-3-top h2 {
  margin-bottom: 20px;
}
.col-3-top p {
  margin-bottom: 70px;
}
.col-3-top > h2:nth-child(5){
  margin-top: 20px;
}
.btn-orange {
  border: 1px solid #FE775A;
  background-color: #FE775A;
  padding: 20px 40px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.col-3-top ul {
  list-style: none;
  text-align: left;
  margin-bottom: 90px;
  max-height: 400px;
}
.col-3 ul  li i {
  color: #FE775A;
}
.border-right{
  width: 100%;
  font-size: 20px;
}
.border-right::before{
    background-color: #899397;
    display: block;
    width: 100%;
    height: 1px;
}
/* /Top Main */
/* Middle Main */

.container-bt {
  width: 100%;
  height: 650px;
  color: white;
  background: linear-gradient(45deg, #00a5bc, #00bda6);
}
.container-middle-main {
  width: 70%;
  height: 650px;
  margin: auto;
}
.text-middle-main {
  text-align: center;
  padding-top: 5%;
}
.text-middle-main h1 {
  padding-bottom: 40px;
}
.text-middle-main p {
  padding-bottom: 70px;
}

.first-row-middle {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid white;
  text-align: center;
}
.col-4 {
  width: 25%;
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
}
.col-4 h1::after {
  content: "+";
}
.first-row-middle img{
  padding-bottom: 10px;
}
.first-row-middle h1{
  padding-bottom: 10px;
}
.first-row-middle p{
  padding-top: 10px;
  font-size: 13px;
}

.second-row-middle {
  width: 100%;
  height: 150px;
  text-align: center;
}
.second-row-middle img{
  padding-bottom: 10px;
  padding-top: 20px;
}
.second-row-middle h1{
  padding-bottom: 10px;
}
.second-row-middle p{
  padding-top: 10px;
  font-size: 13px;
}

/* /Middle main */
/* Bottom Main */

.container-et {
  width: 100%;
  height: 700px;
  color: #33475B;
  background: white;
}
.container-bottom-main {
  width: 70%;
  height: 700px;
  margin: auto;
}
.first-row-bottom-main {
  width: 100%;
  height: 250px;
  padding-top: 50px;
}
.text-et {
  width: 300px;
  padding-left: 100px;
}
.text-et h1{
  font-size: 3em;
  padding-bottom: 30px;
}
.text-et p {
  line-height: 1.5em;
}
.img-bottom-main {
  width:60%;
  padding-left: 300px;
}
.second-row-bottom-main {
  width: 100%;
  height: 350px;
}
.second-text {
  width: 40%;
}
.second-row-bottom-main h1{
  padding-top: 50px;
}
.second-row-bottom-main p{
  padding-top: 50px;
  padding-bottom: 60px;
  line-height: 1.8em;
}
.second-row-bottom-main a{
  padding-top: 60px;
  text-decoration: none;
}
.second-row-bottom-main p:nth-child(4){
  padding-top: 50px;
  font-size: 13px;
}
.second-row-bottom-main a{
  padding-top: 100px;
  text-decoration: none;
  border: 1px solid #FE775A;
  background-color: #FE775A;
  padding: 20px 40px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.second-img {
  width: 50%;
  position: static;
}
.second-img img {
  width: 300px;
  float: right;
}

/* /Main */
/* Footer */
/* Parte iniziale footer */
.container-footer {
  width: 100%;
  height: 700px;
  color: white;
  background: #32495B;
}
.container-f {
  width: 70%;
  height: 250px;
  margin: auto;
}
.col-4-f {
  width: 25%;
}
.col-4-f h3 {
  padding-top: 30px;
}
.col-4-f ul {
  list-style: none;
  line-height: 2.5em;
  padding-top: 20px;
}
.col-4-f li a{
  text-decoration: none;
  color: #cbd6e2;
}
.col-4-f li a:hover{
  color: #7fd1de;
}
.btn-white {
  color: black;
  border: 1px solid white;
  background-color: #EBF0F4;
  padding: 8px;
  border-radius: 5px;
}
.list-icon li {
  display: inline;
  text-decoration: none;
  padding: 10px;
}
.container-f-b {
  width: 70%;
  height: 100px;
  margin: auto;
}
.text-center-footer {
  text-align: center;
  margin-top: 130px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.text-center-footer ul {
  list-style:
}
.text-center-footer li {
  display: inline;
  padding: 15px;
}
.text-center-footer li a{
  text-decoration: none;
  color: #cbd6e2;
  display: inline;
}
.text-center-footer li a:hover{
  color: #7fd1de;
}
/* Parte finale footer */
.end-footer {
  padding: 30px 0;
}
.end-text ul li{
  list-style: none;
}
.end-text li {
  display: inline;
}
.end-text li a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
}
